[data-md-color-scheme="ipfabric"] {
  --md-primary-fg-color: #264183;
  --md-primary-fg-color--light: #1d7ec1;
  --md-primary-fg-color--dark: #13537e;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #264183;
  --md-primary-fg-color--light: #1d7ec1;
  --md-primary-fg-color--dark: #13537e;
}

.center {
    display: block;
    margin: 0 auto;
}
