markdown==3.4.1
mike==1.1.2
mkdocs-material==8.3.8
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.5.0
mkdocs-redirects==1.0.4
git+https://github.com/it-novum/mkdocs-featherlight.git
git+https://github.com/bobek/mkdocs-dashomatic.git
requests==2.28.1
snakemd==0.10.1
