mike==2.1.3
mkdocs==1.6.0
mkdocs-awesome-pages-plugin==2.9.3
mkdocs-exclude-tagged-files==1.0.4
mkdocs-glightbox==0.4.0
mkdocs-material==9.5.34
mkdocs-minify-plugin==0.8.0
mkdocs-multirepo-plugin==0.8.3
mkdocs-redirects==1.2.1
mkdocs-git-revision-date-localized-plugin==1.2.8
mkdocs-open-in-new-tab==1.0.5
mdx_truly_sane_lists==1.3
cairosvg==2.7.1
pillow==10.4.0
requests==2.32.3
snakemd==2.2.0
