mkdocs==1.6.0
mkdocs-awesome-pages-plugin==2.10.1
mkdocs-exclude-tagged-files==1.0.4
mkdocs-glightbox==0.4.0
mkdocs-material==9.6.14
mkdocs-minify-plugin==0.8.0
mkdocs-multirepo-plugin==0.8.3
mkdocs-redirects==1.2.2
mdx_truly_sane_lists==1.3
cairosvg==2.8.2
pillow==11.2.1
requests==2.32.4
snakemd==2.3.0
